@import './../../../../assets/_colors';

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-right: 1em;
    padding: 1em;
    background: none;
    border: none;
    cursor: pointer;

    &:hover .btn__icon {
        color: $primary-color;
    }
    &__icon {
        font-size: 1.1rem;
        color: $text-color;
        transition: color 0.5s;
    }
}