@import '../../assets/_colors';

.products {
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 33%;
		height: 400px;
		padding: 1em;
		background-color: $sidebar-color;
		border-radius: 20px;
		cursor: pointer;

		// &-img {
		// 	padding: 0.5em;
		// 	width: 100%;
		// 	border-radius: 20px;
		// }
		&-img {
			width: 200px;
			height: 250px;
			background-position: center;
			background-size: cover;
			margin: auto;
			border-radius: 20px;
			margin-bottom: 1em;
		}
		&-title {
			color: $title-color;
			text-align: center;
			margin-bottom: 0.5em;
			@media (min-width: 768px) {
				text-align: left;
			}
		}
		&-platform {
			color: $text-color;
			text-align: center;
			margin-bottom: 1em;
			@media (min-width: 768px) {
				text-align: left;
				margin-bottom: 0;
			}
		}
		&-box {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 0.5em;

			@media (min-width: 768px) {
				justify-content: space-between;
			}
		}
		&-price {
			font-size: 1.3rem;
			color: $primary-color;
			font-weight: bold;
			margin-right: 1em;
		}
		&-btn {
			width: 60%;
			padding: 0.8em;
			border-radius: 20px;
			border: none;
			background-color: $primary-color;
			box-shadow: 2px 2px 15px black;
			text-transform: uppercase;
			font-weight: bold;
			transition: background-color 0.5s;
			cursor: pointer;

			@media (min-width: 440px) and (max-width: 768px) {
				width: 30%;
			}
			&:hover {
				background-color: $primary-color-hover;
			}
		}
	}
}

@media (max-width: 768px) {
	.products {
		&__item {
			width: 80%;
		}
	}
}
