@import "../../assets/_colors";
.sort-btn {
	display: none;
	width: 90%;
	padding: 1.2rem;
	margin: 10rem auto auto;
	border: none;
	border-radius: 30px;
	font-size: 1.2rem;
	font-weight: bold;
	color: $background-color;
	background-color: $primary-color;
	cursor: pointer;
}
.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	margin-top: 6em;
	display: flex;
}

@media (max-width: 768px) {
	.sort-btn {
		display: block;
		margin: 6rem;
	}
	.container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
