
@import './assets/_colors';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Raleway:ital@1&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: $background-color;
	font-family: "Inter", sans-serif;
	
}

.container{
	margin-top: 80px;
	display: flex;
}
