:root {
	--text-color: #9a9a9a;
	--primary-color: #e58e27;
	--title-color: #fbfbfb;
	--bg-color: #161a1e;
	--sidebar-color: #252527;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background: var(--bg-color);
	font-family: "Inter", sans-serif;
}
